#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#gree{
    color: green;
}
#yellow{
    color: yellow;
}

.color-tile{
    font-weight: normal;
}

img{
    height: 200px;
    width: 200px;
}