/* Don't change the existing CSS. */

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.box {
  background-color: blue;
  padding: 10px;
   
}

#outer-box{
   background-color: purple;
   padding: 10px;
}

.inner-box{
  background: red;
}

.white-text{
  color: white;
}